.admin-sidebar {
  width: 260px;
  height: 100vh;
  background: #9cbbf8;
  padding: 25px 15px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #d9e6ff;
  transition: 0.3s;

}

.sidebar-logo {
  text-align: center;
  margin-bottom: 35px;
}

.logo-img {
  width: 70px;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar-link {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  border-radius: 6px;
  color: #333;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.2s;
}

.sidebar-link:hover {
  background: #c8ddff;
}

.sidebar-link.active {
  background: #d4e5ff;
  font-weight: 700;
}

/* Logout button */
.logout-btn {
  background: #ff9fad;
  border: none;
  padding: 12px;
  border-radius: 22px;
  font-size: 16px;
  font-weight: 600;
  margin-top: auto;
  cursor: pointer;
}

@media (max-width: 900px) {
  .admin-sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    transform: translateX(-100%);
    z-index: 300;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .sidebar-open .admin-sidebar {
    transform: translateX(0);
  }
}
